.workplace {
    padding: 20px 0;
    height: 100vh;

    .teams_wrapper {
        .swiper {
            
        }
        .swiper {
            display: flex;
            
        }

        .team {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &.selected {
                position: relative;
                span {
                    border-left: 4px solid #f2f3f5;
                    position: absolute;
                    top: auto;
                    left: 0;
                    height: 40px;
                }

                .team-name {
                    color: #4452fe;
                }
            }
        }

        h1 {
            font-size: 22px;
        }

        img {
            width: 58px;
            height: 58px;
            object-fit: cover;
            object-position: center center;
            border-radius: 50%;
        }

        .team {
            padding: 10px;

            .team-name {
                text-align: center;
            }
            h2 {
                padding: 10px 0;
            }
        }
    }
    .workplace-wrapper {
        display: flex;
        height: 100vh;

        

        .task_wrapper {
            padding: 10px;

            .task {
                padding: 20px;
                cursor: pointer;
                border: 1px solid #ffffff;
                margin: 20px 20px;
                transition: padding 0.01s;

                // &:hover {
                //     transition: padding 1s;
                //     padding: 30px;
                // }
            }
        }

        .channel_wrapper {
            border-right: 1px solid rgba(255, 255, 255, 0.05);
            text-align: center;
            width: 100px;

            .channel-name {
                cursor: pointer;
                padding: 10px;
            }

            h1 {
                font-size: 22px;
            }
        }
        
    }
}
.add_team_wrapper {
    h1 {
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    .open_modal {
        position: absolute;
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;

        .team_modal {
            padding: 20px;
            border-radius: 5px;
            width: 50%;
            height: 50%;
            position: relative;
            background-color: #181818;
            position: relative;

            p {
                position: absolute;
                top: 20px;
                right: 20px;
                cursor: pointer;
            }

            .add_team_form {
                display: flex;
                justify-content: space-between;
                padding-top: 20px;
            }
        }
    }
}
