.workplace {
    padding: 20px 0;
    height: 100vh;

    .workplace-title {
        text-align: center;
        h1 {
            font-size: 80px;
            padding-bottom: 28px;
            letter-spacing: 0.2px;
        }
    }

    .workplace-wrapper {
        display: flex;
        align-items: center;
        .channel_wrapper {
            padding: 20px;
            border-right: 1px solid rgba(255, 255, 255, 0.05);
            .channel-name {
                cursor: pointer;
                margin-bottom: 10px;

            }

            h1 {
                font-size: 22px;
            }
        }
        .teams_wrapper {
            width: 100px;
            border-right: 1px solid rgba(255, 255, 255, 0.05);
            text-align: center;

            .team {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                &.selected {
                    position: relative;
                    span {
                        border-left: 4px solid #f2f3f5;
                        position: absolute;
                        top: auto;
                        left: 0;
                        height: 40px;
                    }

                    .team-name {
                        color: #4452fe;
                    }
                }
            }

            h1 {
                font-size: 22px;
            }

            img {
                width: 58px;
                height: 58px;
                object-fit: cover;
                object-position: center center;
                border-radius: 50%;
            }

            .team {
                padding: 10px;

                .team-name {
                    text-align: center;
                }
                h2 {
                    padding: 10px 0;
                }
            }
        }
        .content_wrapper {
            .chanels_wrapper {
                padding: 10px;
                border-right: 1px solid rgba(255, 255, 255, 0.05);

                .chanel {
                    padding-bottom: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}
