.workplace {
    padding: 90px 0;

    .workplace-title {
        text-align: center;
        h1 {
            font-size: 80px;
            padding-bottom: 28px;
            letter-spacing: 0.2px;
        }
    }

    .workplace-wrapper {
        display: flex;
        .task_wrapper {
            padding-left: 20px;

            h1 {
                font-size: 22px;
            }
        }
        .teams_wrapper {
            width: 200px;
            border-right: 1px solid rgba(255, 255, 255, 0.05);
            text-align: center;

            .team {
                cursor: pointer;
                &.selected {
                    .team-name {
                        color: #4452fe;
                    }
                }
            }

            h1 {
                font-size: 22px;
            }

            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                object-position: center center;
                border-radius: 50%;
            }

            .team {
                padding: 10px;

                .team-name {
                    text-align: center;
                }
                h2 {
                    padding: 10px 0;
                }
            }
        }
    }
}
