.contact {
    padding: 90px 0;
    .contact_title {
        text-align: center;
        h1 {
            font-size: 80px;
            padding-bottom: 28px;
            letter-spacing: 0.2px;
        }

        p {
            font-size: 16px;
            margin: 0 120px;
            letter-spacing: 0.2px;
            line-height: 26px;
            font-weight: 200;
        }
    }
}
