.profile {
    padding: 90px 0 0;

    .profile-title {
        display: flex;
        justify-content: center;
        h1 {
            font-size: 80px;
            padding-bottom: 28px;
            letter-spacing: 0.2px;
        }
    }

    .profile_data {
        
    }
}
