.profile {
    padding: 90px 0 0;

    .profile-title {
        display: flex;
        justify-content: center;
        h1 {
            font-size: 80px;
            padding-bottom: 28px;
            letter-spacing: 0.2px;
        }
    }
}
.profile_wrapper {
    .profile_data {
        display: flex;
        text-align: left;

        .profile_team {
            padding-left: 40px;
            text-align: center;

            h1 {
                font-size: 18px;
                margin-bottom: 20px;
            }

            ul {
                display: flex;
                gap: 20px;
                align-items: center;

            }
            img {
                height: 100px;
                width: 100px;
                border-radius: 0;
                margin-bottom: 0;
                
            }
        }
        .profile_image {
            border-right: 1px solid rgba($color: #ffffff, $alpha: 0.1);
            padding-right: 40px;


            .profile_image_wrapper {
                position: relative;

                h5 {
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: none;
                }

                img {
                    filter: brightness(1);
                    transition: filter 0.5s;
                }

                &:hover {
                    img {
                        filter: brightness(0.5);
                        transition: filter 0.5s;
                        cursor: pointer;
                    }
                    h5 {
                        position: absolute;
                        top: 70%;
                        left: 50%;
                        display: flex;
                        background-color: none;
                        cursor: pointer;
                    }
                }
            }

            .edit_profile {
                padding: 18px 0;
                display: flex;
                justify-content: center;
                button {
                    all: unset;
                    padding: 10px 40px;
                    border: 1px solid #fff;
                    cursor: pointer;
                    width: 100%;
                    text-align: center;

                    &:hover {
                        background-color: #fff;
                        color: #000;
                    }
                }
            }
        }

        .profile_text {
            font-size: 24px;

            p {
                font-size: 18px;
                opacity: 0.7;
            }
        }
    }

    img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        object-position: center center;
        border-radius: 50%;
        margin-bottom: 2vh;
    }

    .loading {
        text-align: center;
    }
}

.edit_profile_form {
    padding: 90px 0 0;

    .form-group {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        padding-bottom: 20px;
        label {
            flex: 0.15;
        }
    }

    input {
        all: unset;
        border-bottom: 1px solid #fff;
        padding: 10px;
        // margin: 0 80px;

        /* Стилі для поля вводу з автозаповненням */
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            transition: all 5000s ease-in-out 0s;
        }
    }
    .edit_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;

        button {
            all: unset;
            padding: 10px 40px;
            border: 1px solid #fff;
            cursor: pointer;
            margin: 20px 0;

            &:hover {
                background-color: #fff;
                color: #000;
            }
        }

        p {
            cursor: pointer;
            color: #4452fe;
        }
    }
}
